{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<nav class="main-nav">
    {{> "menu-activator-icon"}}
</nav>

<header class="main-header js-blog-bg-image {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content">
        {{#if @blog.logo}}
        <div class="post-logo-container">
            <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
        </div>
        {{/if}}
        <h1 class="page-title js-bg-check" style="margin-bottom: 10px;">
            <span>
                {{!-- {{@blog.title}} --}}
                Hi, I'm {Aero Wong}
            </span>
        </h1>
        <img style="border-radius: 100%; margin: 20px;" height="200" width="200" src="/content/images/2017/aeroheadshot.jpg" alt="aero">
        {{!-- <h2 class="page-description js-bg-check">
            <span>
                {{@blog.description}}
            </span>
        </h2> --}}
        <h3 class="page-description js-bg-check">The {Product Baby} at the <a href="http://productmanagersummit.com/">Product Manager Summit</a><h2>
        <h3 class="page-description js-bg-check">The {Techie Baby} at the <a href="/ultimate-career-transition-guide/">Career Transition Guide for Getting Job-Ready in Tech</a><h3>
        <h3 class="page-description js-bg-check" style="margin-bottom:20px;">The {Wisdom Baby} at the <a href="http://wisdomtrigger.com/">Wisdom Trigger</a><h3>
        {{!-- {{> "over_the_top_email_newsletter"}} --}}
        <h3 class="page-description js-bg-check"><i>I've also been featured in:</i></h3>
        <img style="margin: 20px;" height="500" width="500" src="/content/images/2017/02/featured.png" alt="featuredIn">
        <h3><i>Me on the web:</i></h3>
        <h3>Twitter: <a href="https://twitter.com/@AeroWong">@AeroWong</a></h3>
        <h3>LinkedIn: <a href="www.linkedin.com/in/AeroOnFire">@AeroOnFire</a></h3>
{{!--         <h3>Email Newsletter: <a href="/overthetopinsider/">Over The Top Insider</a></h3>
 --}}        
        <h3>You can email me at aero [at] aerowong.com</h3>
    </div>
</header>

{{! The main content area on the homepage }}
{{!-- <main id="content" class="content home-template" role="main">
    <div style="text-align: center;">
    </div>
    The Ultimate Guide  {{> "mailchimp"}}    
    {{> "feature_box"}}
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main> --}}